<%= form_with url: search_messages_path, method: :post do |form| %>
  <%= form.search_field :body_search, value: params[:body_search], oninput: "this.form.requestSubmit()" %>
<% end %>

<h2 style= "background-color: yellow; color: black; width: 640px">List of messages you searched: </h2>
<span id="search_results"></span>

